.glyphicon-chevron-up, .glyphicon-chevron-down {
  padding-left: 5px;
}

span.glyphicon-chevron-up:hover, span.glyphicon-chevron-down:hover{
  cursor: pointer;
}

.site-header {
  color: #f00;
}

.playerName h2 {
  margin: 0px;
}

.rankingDetails h4 {
  display: inline-block;
  padding-right: 10px;
}

.headernavigation ul li {
  display: inline-block;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px
}

.pagination li:hover {
  cursor: pointer;
}

.pagination .active a{
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}

.playerBox {
  padding: 10px 0px;
  background-color: #2E3740;
  border: 10px solid #fff;
  border-bottom: none;
  color: #FFF;
}

.playerBox h3 {
  margin: 5px 0px 15px 0px;
}

.active {
  color: #1E90FF;
  font-weight: bold;
}
